/**
 * Colors
 * -------------------------------------------------------------------------- */
/* @font-face {
  font-family: kzxw;
  src: url("fonts/kzxw.otf") format("opentype");
  font-weight: 400;
  font-style: normal
} */

/* @font-face {
  font-family: kzklt;
  src: url("fonts/kzklt.ttf")format('truetype');

} */

@font-face {
  font-family: kzwyt;
  src: url("fonts/kzwyt.ttf")format('truetype');

}

/* @font-face {
  font-family: kzhyt;
  src: url("fonts/kzhyt.ttf")format('truetype');

} */



/* @font-face {
  font-family: alht;
  font-weight: 700;
  src: url("fonts/alht.ttf")format('truetype');
} */

/* @font-face {
  font-family: ceym;
  font-weight: 700;
  src: url("fonts/ceym.ttf")format('truetype');
}

@font-face {
  font-family: ceymc;
  font-weight: 700;
  src: url("fonts/ceymc.ttf")format('truetype');
} */

/* @font-face {
  font-family: systl;
  src: url("fonts/systl.otf") format("opentype");
  font-weight: 400;
  font-style: normal
} */


/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */




:root {
  --vp-c-brand: #646cff;
  --vp-c-brand-light: #747bff;
  --vp-c-brand-lighter: #9499ff;
  --vp-c-brand-lightest: #bcc0ff;
  --vp-c-brand-dark: #535bf2;
  --vp-c-brand-darker: #454ce1;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
  --vp-c-text-code: #454ce1;
  --vp-c-white-mute: #dee0fd;
  --vp-c-bg-mute: #dee0fd;
  --vp-c-bg-h2: #9499ff;
  --vp-c-text-h2: #454ce1;
  --vp-c-text-h3: #ffffff;
  --vp-c-text-h4: #454ce1;
  --vp-c-bg-s: rgba(184, 83, 243, 0.5);

  /* --vp-custom-block-details-border: var(--vp-c-bg); */



  /*--vp-c-gray-dark-3:*/
  --vp-c-gray-dark-3: #b6b6b6;


}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-text-dark-1);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-text-dark-1);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-text-dark-1);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg,
      #bd34fe 30%,
      #41d1ff);

  --vp-home-hero-image-background-image: linear-gradient(-45deg,
      #bd34fe 50%,
      #47caff 50%);
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-darker);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.dark {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-lightest);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}

/**
 * VitePress: Custom fix
 * -------------------------------------------------------------------------- */

/*
  Use lighter colors for links in dark mode for a11y.
  Also specify some classes twice to have higher specificity
  over scoped class data attribute.
*/
.dark .vp-doc a,
.dark .vp-doc a>code,
.dark .VPNavBarMenuLink.VPNavBarMenuLink:hover,
.dark .VPNavBarMenuLink.VPNavBarMenuLink.active,
.dark .link.link:hover,
.dark .link.link.active,
.dark .edit-link-button.edit-link-button,
.dark .pager-link .title {
  color: var(--vp-c-brand-lighter);
}

.dark .vp-doc a:hover,
.dark .vp-doc a>code:hover {
  color: var(--vp-c-brand-lightest);
  opacity: 1;
}

.table-of-contents a {
  color: #c0c0c0;
  font-size: small;
  margin: 0px 0px 0px;
  padding: 0px 0px 0px;

}

.table-of-contents li {
  color: #c0c0c0;
  font-size: small;
  margin: -15px 0px -8px;
  padding: 0px 0px 0px;

}

/* Transition by color instead of opacity */
.dark .vp-doc .custom-block a {
  transition: color 0.25s;
}

.vp-doc h2 {
  margin: 10px 0 -5px;
  border-top: 0px solid var(--vp-c-divider-light);
  padding-top: 0px;
  letter-spacing: -0.02em;
  line-height: 32px;
  font-size: 24px;
}

h2 {
  /* font-family: 'ceymc'; */
  color: var(--vp-c-text-h2);
  /*text-align: center;*/
}

.vp-doc h3 {
  text-align: center;
  margin: -20px 20px 0px;
  border-top: 0px solid var(--vp-c-divider-light);
  letter-spacing: -0.02em;
  /* line-height: 32px; */
  font-size: 15px;
}


h3 {

  border-radius: 4px;
  color: var(--vp-c-text-h2);
  /* background-image: linear-gradient(to right, rgba(85, 176, 237, 0.8), rgba(184, 83, 243, 0.5)); */
  transition: color 0.5s, background-color 0.1s;

}


h4 {
  border-radius: 4px;
  padding-top: 10px;
  color: var(--vp-c-text-h4);
  transition: color 0.5s, background-color 0.1s;
}

h5 {
  padding-top: 10px;
  color: var(--vp-c-text-h4);
  transition: color 0.5s, background-color 0.1s;
}


s {
  /* color: var(--vp-c-text-h4); */
  border-radius: 4px;
  padding: 3px 6px;
  color: var(--vp-c-text-code);
  background-color: var(--vp-c-bg-s);
  transition: color 0.5s, background-color 0.5s;
}



.custom-block {

  padding: 0px 0px 0px;
  /* line-height: 20px; */
  /* font-size: 14px; */
  /* margin-top: -30px; */
}

.custom-block.details summary {
  color: rgb(255, 157, 0);
  /* font-size: larger; */
  margin: -30px 8px 8px;
}

.custom-block.details {
  text-align: right;
  /* padding: 30px; */
  border-color: var(--vp-c-bg);
  background-color: (--vp-custom-block-tip-text);
  color: var(--vp-c-text-1);
  /* margin-top: 1rem; */
  margin-bottom: 1rem;
  /* border-radius: 14px; */
  /* padding-left: 2.5rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem; */
  position: relative;
  /* font-size: 1rem; */
  /* font-weight: 700; */
  line-height: 1.1rem;
  filter: grayscale(100%);
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  background-color: var(--vp-c-bg-alt);
  border: 2px solid var(--vp-c-bg-alt);
  transition: border-color 0.5s;
}

.custom-block.details:hover {
  filter: grayscale(0%);
  border: 2px solid var(--vp-c-brand-light);
}

.custom-block.details:hover .heading {
  background-image: linear-gradient(120deg,
      #bd34fe 16%,
      var(--vp-c-brand-light),
      var(--vp-c-brand-light));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


table {
  /* background-color: var(--vp-c-brand-lightest); */
  border-radius: 5px;
  /* border-color: var(--vp-custom-block-tip-border); */
  /* border-color: #84cd1e; */
  border: 1px solid var(--vp-custom-block-tip-border)
}



/* 表格头 */
.vp-doc tr {
  /* color: var(--vp-c-text-h2); */

  font-size: 12px;
}

/* 表格内容 */
.vp-doc td {
  padding: 0px 0px;
  font-size: 12px;
  /* color: var(--vp-c-text-h2); */
}

.vp-doc th {
  padding: 0px 0px;
  font-size: 14px;
  /* color: var(--vp-c-text-h2); */
}

.vp-doc table {
  display: inline-block;
  margin: 5px;

}

mark {
  margin: 3px;
  padding: 3px 3px;
  text-align: center;
  /* font-size: 10px; */
  font-weight: bold;
  color: #eeeeee;
  border-radius: 4px;
  background: #999999;
  box-shadow: inset -5px -5px 9px #949494,
    inset 5px 5px 9px #9e9e9e;
}



.vp-doc div[class*="language-"] {
  /* border-radius: 50px;
  background: #070707;
  box-shadow: inset 20px 20px 60px #060606,
              inset -20px -20px 60px #080808; */
}



.vitecong:hover {
  filter: grayscale(0%);
  border: 2px solid var(--vp-c-brand-light);
}

.vitecong img {
  position: absolute;
  left: 1.5rem;
  transition: transform 0.5s;
}

.vitecong:hover img {
  transform: scale(1.2);
}

.vitecong:hover .heading {
  background-image: linear-gradient(120deg,
      #bd34fe 16%,
      var(--vp-c-brand-light),
      var(--vp-c-brand-light));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@media (min-width: 340px) {
  .vp-code-group .tabs {
    margin-right: 0;
    margin-left: 0;
    border-radius: 8px 8px 0 0;
  }
}

.vp-doc [class*='language-'] pre,
.vp-doc [class*='language-'] code {
  /*rtl:ignore*/
  direction: ltr;
  /*rtl:ignore*/
  text-align: left;
  white-space: pre-line;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.summary {
  background-color: #41d1ff;
  color: #41d1ff;

}





.custom-block.details table {
  border-radius: 5px;
  border: 1px solid var(--vp-custom-block-tip-border)
}

.custom-block.details thead {
  /* border: 1px solid rgba(9, 72, 246, 0.29) */
}


/* 表格头 */
.custom-block.details tr {
  /* color: var(--vp-c-text-h2); */

  font-size: 12px;
  text-align: left;
}

/* 表格内容 */
.custom-block.details td {
  padding: 0px 0px;
  font-size: x-small;
  /* color: var(--vp-c-text-h2); */
}

.custom-block.details th {
  padding: 0px 0px;
  font-size: 14px;
  /* color: var(--vp-c-text-h2); */
}

.custom-block.details table {
  display: inline-block;
  margin: 5px;

}

.custom-block.details code {
  /* background-color: var(--vp-c-mute); */
  background-color: var(--vp-c-mute-dark);
  color: var(--vp-c-text-code);

}